.addproduct__container {
  min-height: 82vh;
  background-image: url("https://fondosmil.com/fondo/25777.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 60px;
  min-height: 96vh;
}

.addproduct__container form {
  margin-top: 60px;
}

.addproduct__container h2 {
  color: rgb(136, 137, 139);
  padding: 30px;
}
#form {
  max-width: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.style-container {
  display: flex;
}

.style-container input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
  height: 40px;
}

.style-container h4 {
  position: relative;
  font-size: 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 0 25px 25px 0;
  background: rgb(44, 74, 90);
  height: 40px;
  align-items: center;
  display: flex;
}
