@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#contactUs {
  padding: 30px;
  background: rgb(200, 200, 200);
  background-image: url("https://fondosmil.com/fondo/25777.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 89vh;
}

#contactUs {
  color: rgb(136, 137, 139);
}

.form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(255, 255, 255);
  color: black;
  text-align: center;
}

.form__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.form__paragraph {
  font-weight: 300;
}

.form__link {
  font-weight: 400;
  color: black;
}

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form__group {
  position: relative;
  color: #5757577e;
}

.form__input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #5757577e;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: rgb(44, 74, 90);
}

.form__label {
  color: #5757577e;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form__submit {
  background: rgb(44, 74, 90);
  color: #fff;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}

.form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #03bb85;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

/* termina el form*/
