@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

nav {
  width: 100vw;
  height: 5rem;
  position: fixed;
  display: flex;
  place-items: center;
  background: black;
  box-shadow: 0 1rem 1rem rgba(black, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container ul {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.container button {
  display: none;
}

.container a {
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration: none;
}

.container .nav__logo h1 {
  color: white;
}

.container a:hover {
  color: rgb(124, 19, 182);
  font-size: 1rem;
  transition: 0.6s;
}
/* =================== MEDIA QUERIES (MEDIUM DEVICES) =======================*/
@media screen and (max-width: 1024px) {
  #nav__items {
    display: none;
  }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) =======================*/

@media screen and (max-width: 600px) {
  #nav__items {
    display: none;
  }
}
/*HASTA ACA EL NAV*/

.container1 {
  padding-top: 90px;
  background: url("https://img.freepik.com/fotos-premium/circuito-tecnologico-azul-morado_73426-205.jpg?w=2000");
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}

.header__content {
  text-align: center;
  width: 50%;
  margin-left: 20px;
}

.header__content p {
  text-align: center;
  margin: 20px;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) =======================*/
@media screen and (max-width: 1024px) {
  .header__content {
    width: 100%;
  }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) =======================*/

@media screen and (max-width: 600px) {
}

/*HASTA ACA EL HEADER*/
.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 2rem;
}
.container2 article {
  background: rgb(124, 19, 182);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  gap: 1.5rem;
  height: fit-content;
  transition: all 400ms ease;
  color: white;
}
.container2 article i {
  transition: all 400ms ease;
}
.container2 article:hover {
  margin-top: -0.5rem;
  background: transparent;
  border: 2px solid rgb(124, 19, 182);
  color: black;
}
.container2 article i:hover {
  font-size: 1.7rem;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) =======================*/
@media screen and (max-width: 1024px) {
  .container2 {
    gap: 1rem;
    grid-template-columns: 2fr;
  }

  .container2 article {
    padding: 1.2rem;
    gap: 0.8rem;
  }
  .container2 article:hover {
    margin: 0;
  }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) =======================*/

@media screen and (max-width: 600px) {
  .container2 {
    grid-template-columns: 1fr;
  }
  .container2 article div h4 {
    margin-bottom: 0.8rem;
  }
}
/*termina el services*/

#companies {
  text-align: center;
  margin-top: 100px;
}
.sevices__div {
  text-align: center;
  background: black;
  color: white;
}
.sevices__div h2 {
  padding: 1rem;
}
.sevices__div p {
  padding-bottom: 1rem;
}
.container3 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column: 4;
  margin: 50px;
}

.company__image:hover {
  transition: 0.6s;
  filter: opacity(0.5);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1200px) {
  .container3 {
    grid-template-columns: 50% 50%;
    grid-column: 2;
  }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) =======================*/

@media screen and (max-width: 700px) {
  .container3 {
    grid-template-columns: 100%;
    grid-column: 1;
  }
}

/*termina el companies*/
#contactUs {
  padding: 30px;
  background: black;
}

#contactUs {
  color: white;
}

.form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(255, 255, 255);
  color: black;
  text-align: center;
}

.form__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.form__paragraph {
  font-weight: 300;
}

.form__link {
  font-weight: 400;
  color: black;
}

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form__group {
  position: relative;
  color: #5757577e;
}

.form__input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #5757577e;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: rgb(124, 19, 182);
}

.form__label {
  color: #5757577e;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form__submit {
  background: rgb(124, 19, 182);
  color: #fff;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}

.form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #03bb85;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

/* termina el form*/

.prueba {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 20px;
  grid-gap: 10px;
  box-shadow: 0px 15px 25px rgba(184, 182, 182, 0.5);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 500ms ease-out;
}

.card .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 0, 123, 0.301);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: all 500ms ease-out;
}

.card .capa .claim_capa {
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}

.card .capa .text_capa {
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

.card:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.card:hover > .capa .claim_capa {
  margin-top: 70px;
  margin-bottom: 15px;
}
.card:hover {
  transform: scale(1.3);
}
