.not-found {
  background-color: aqua;
  height: 100vh;
  background-image: url("https://images.hdqwalls.com/download/error-404-12-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found a {
  height: auto;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  background-color: black;
  border: white 1px solid;
  padding: 15px;
  border-radius: 15px;
}

.not-found a:hover {
  color: black;
  text-decoration: none;
  font-size: 3rem;
  background-color: white;
  border: white 1px solid;
  transition: 0.6s;
}
/* =================== MEDIA QUERIES (MEDIUM DEVICES) =======================*/
@media screen and (max-width: 800px) {
  .not-found a {
    font-size: 1rem;
  }

  .not-found a:hover {
    font-size: 2rem;
  }
}
