.container__li {
  margin: 20px 30px;
}
.conteiner__product {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.carrito-card-title:first-letter {
  text-transform: uppercase;
}
.container__product img {
  width: 10%;
}
.container__img {
  width: 10%;
}
.conteiner__product button {
  font-size: 2rem;
  padding: 0px;
  background: transparent;
  color: black;
}

#container__delete {
  color: red;
}

.div__container {
  background: rgb(200, 200, 200);
  min-height: 85vh;
  padding-bottom: 30px;
}

#empty__container {
  height: 84vh;
}
